.Rproj.user
.Rhistory
.RData
.Ruserdata
public/*
private/*
.DS_Store
resources/_gen/*
blogdown/md5sum.txt
themes/*

*.zip
temp_figs/*
R/*.rds
R/hp1_pos.csv

static/slides/*.pdf
static/example/10-example_files/figure-html/widgets/*
